<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<tnb>
				<active>0</active>
				<model>TNB\Pay\Model\Payment\Tnb</model>
				<order_status>pending</order_status>
				<title>TNBPay</title>
                <instructions>TNBPay is a payment method on the TNB network</instructions>
                <sort_order>1</sort_order>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</tnb>
		</payment>
	</default>
</config>
